<center><h1 font = "b">Data Structure 1 - Array</h1></center>

In [1]:
#creating a list 
stock_price = [298,305,320,301,292]
stock_price

[298, 305, 320, 301, 292]

In [2]:
stock_price[0]  #look up by index = O(1)  constant time operation

298

In [3]:
stock_price[3]

301

In [12]:
stock_price.append(284)  # inserting new element to list
stock_price

[298, 305, 320, 301, 292, 284, 284, 284]

In [14]:
stock_price.insert(1,342)  # inserting new element to given index  = O(n)
stock_price

[298, 342, 342, 305, 320, 301, 292, 284, 284, 284]

In [16]:
stock_price.remove(342)  # deleting element = O(n)
stock_price

[298, 342, 305, 320, 301, 292, 284, 284, 284]

In [8]:
for i in range(len(stock_price)):            #look up by value = O(n)
    if(stock_price[i]==301):
        print(i)

3

In [11]:
for i in range(len(stock_price)):
    print(stock_price[i])                         #list traversal = O(n)

298
305
320
301
292
284
284

# Exercise 1 : Array DataStructure
Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [30]:
expenses = [2200,2350,2600,2130,2190]
expenses

[2200, 2350, 2600, 2130, 2190]

In [20]:
print("Extra spent in february compared to january = " , expenses[1]-expenses[0])

Extra spent in february compared to january =  150

In [21]:
print("Total expense in first quarter = " , expenses[0]+expenses[1]+expenses[2])

Total expense in first quarter =  7150

In [23]:
print("Spent 2000 exactly in any month =" , 2000 in expenses)

Spent 2000 exactly in any month = False

In [27]:
expenses.append(1980)
expenses

[2200, 2350, 2600, 2130, 2190, 1980]

In [31]:
expenses[3]= expenses[3]-200

In [32]:
expenses

[2200, 2350, 2600, 1930, 2190]

# Exercise 2 : Array DataStructure
You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [49]:
heros=['spider man','thor','hulk','iron man','captain america']
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [39]:
len(heros)

5

In [40]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [41]:
heros.pop()
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [42]:
heros.insert(3,'black panther')

In [43]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [50]:
heros[1:3]=['doctor strange']

In [51]:
heros

['spider man', 'doctor strange', 'iron man', 'captain america']

In [52]:
heros.sort()
print(heros)

['captain america', 'doctor strange', 'iron man', 'spider man']

# Exercise 3 : Array DataStructure
Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [54]:
max_num = int(input("Enter a number"))  #1

odd_numbers = []
for i in range(1,max_num,2):
    odd_numbers.append(i)

print("Odd numbers :", odd_numbers)

Enter a number 9

Odd numbers : [1, 3, 5, 7]

In [55]:
max = int(input("Enter max number: "))  #2

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number:  9

Odd numbers:  [1, 3, 5, 7]